{% extends "encyclopedia/layout.html" %}

{% block title %}
    <h1>Edit Entry</h1>

{% endblock %}

{% block body %}
    <h2>{{ title }}</h2>
    <form method="POST" action="{% url 'edit' title=title %}">
        {% csrf_token %}
        <label for="content">Content</label>
        <br>
        <textarea type="text" name="content" required>{{ content }} </textarea><br>
        <button class="btn btn-primary" type="submit"> Save changes </button>
    </form>
    
    <a href="{% url 'entry' title=title %} "> cancel</a>
{% endblock %}